<div class="calender">

  <nav class="navbar">


    <form class="" action="/prev" method="post">
      <button id="prev-btn" type="button" name="prev" onclick="sub_one()"><i class="fa-solid fa-angle-left"></i></button>
    </form>




    <a id="jump-to-today" href="/"><i class="fa-solid fa-calendar-day"></i></a>

    <a class="navbar-brand" href="/">
      <img class="shamballa-logo" src="css/shamballa-logo-nobg.png" alt="..." >
      <h3 class="brand-title">שאמבלה</h3>
    </a>


    <div class="title">
      <h1 id="month-title"></h1>
      <h3 id="year-title"></h3>
    </div>



    <form class="" action="/next" method="post">
      <button id="next-btn" type="button" name="next" onclick="add_one()"><i class="fa-solid fa-angle-right"></i></button>
    </form>
  </nav>

  <table class="table">
    <%- include('tablehead') -%>

    <h6 id="cur_month" class="hidden"></h6>
    <tbody id="calender-board">
      <tr>
        <script src="scripts/create_calender.js" charset="utf-8"></script>
      </tr>


    </tbody>
  </table>



</div>

<%- include('loginpopup') -%>
