<div class="calender">

  <div class="month">
    <h1><%= Today.monthName %><br><span style="font-size:18px">2022</span></h1>
  </div>

  <table class="table">
      <%- include('tablehead') -%>
  <tbody>

    <tr>


        <%- include('day') -%>


    </tr>


  </tbody>
  </table>



</div>

<script src="scripts/signform.js" charset="utf-8"></script>


<div id='main-form' class="hidden">

  <form class="" action="/" method="post">
    <input type="text" name="name" value="" placeholder="Full Name">
    <input type="text" name="phone" value="" placeholder="Phone Number">
    <input type="text" name="dayNumber" value="6">
    <input type="text" name="month" value="<%= Today.monthName %>">
    <input type="text" name="day" value="">

    <select data-placeholder="Begin typing a name to filter..." multiple class="chosen-select" name="hour">

       <option>10:00</option>
       <option>10:30</option>
       <option>11:00</option>

   </select>


    <button type="submit" name="submit">Send</button>

  </form>

</div>
