<div class="rtl description">


<p>לקוחות יקרים.ות!</p>
<p>מוזמנים.ות להירשם למסירת בגדים לשמבאלה- בוטיק יד שניה חברתי, ובתמורה לקבל זיכוי המקנה אחוזי הנחה בקנייתכם הבאה בחנות! בבקשה לא להשתבץ פעמיים באותו היום.</p>

<p>דגשים חשובים:</p>

<ul>
  <li><p>בעת מסירת הבגדים, הפעילים יבדקו את טיב הבגד ובהתאם לכך יבחרו את הבגדים שהחנות מקבלת.</p></li>
  <li><p>החנות מקבלת רק בגדים: נקיים, בריח טוב, ללא חורים/קרעים/בלאי/כתמים.</p></li>
  <li><p>החנות בשלב זה לא מקבלת: בגדי ילדים, בגדי הריון, אקססוריז ו/או בגדי ספורט.</p></li>
  <li><p>בהתאם לכמות הבגדים שהחנות תקבל מכם, תקבלו אחוז הנחה לקניה הבאה בחנות. שובר ההנחה ישלח אליכם במייל באופן מיידי.</p></li>
</ul>

<p>      1-5 בגדים 5% הנחה</p>
<p>      5-10 בגדים 10% הנחה</p>
<p>      10-15 בגדים 15% הנחה</p>
<p>      15-20 בגדים 20% הנחה</p>
<p>      20 בגדים ומעלה 25% הנחה</p>

<p>אחוז ההנחה תקף לקניה אחת בלבד ולמימוש בטווח של החודשיים הקרובים מיום מסירת הבגדים.</p>

<p>תודה על תרומתכם לסביבה ולשמבאלה שלנו :)</p>

</div>
