<div class="loginPopup">
  <div class="formPopup" id="popupForm">
    <form action="/" class="formContainer" method="post">
      <h2>Sign Form</h2>
      <input type="text" name="name" value="" placeholder="Full Name">
      <input type="text" name="phone" value="" placeholder="Phone Number">
      <input id="dayNumber-input" type="text" name="dayNumber" value="">
      <input id="month-input" type="text" name="month" value="">
      <input id="dayName-input" type="text" name="day" value="">
      <label for="">Choose hour:</label>
      <select id="hour-select" data-placeholder="Begin typing a name to filter..." multiple class="chosen-select" name="hour">

      </select>

      <button type="submit" class="btn">Submit</button>
      <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
    </form>
  </div>
</div>
