
<span class="popuptext" id="myPopup">
  <form class="hidden main-form" action="/" method="post">
    <input type="text" name="" value="name" placeholder="Name" autofocus>
    <input type="email" name="" value="email" placeholder="Email">
    <input type="text" name="" value="phone" placeholder="Phone">
    <button type="button" name="button">Submit</button>

  </form>

</span>
