
<div class="card" style="width: 26rem;">
  <div class="card-body">
    <h5 class="card-title">Full Date Go Here!</h5>
    <h6 class="card-subtitle mb-2 text-muted">Subtitle (optional)</h6>

    <!-- card table -->
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Phone</th>
      <th scope="col">Date</th>
      <th scope="col">Hour</th>
    </tr>
  </thead>
  <tbody>



    <tr>
      <td scope="row">עפרי מקדסי</td>
      <td>0508829898</td>
      <td>June 6</td>
      <td>10:00</td>
    </tr>
    <tr>
      <td scope="row">נועה נוה</td>
      <td>0509098309</td>
      <td>June 6</td>
      <td>11:00</td>
    </tr>
    <tr>
      <td scope="row">מור אזוגי</td>
      <td>0590398409</td>
      <td>June 6</td>
      <td>12:00</td>
    </tr>


  </tbody>
</table>



  </div>
</div>
