@keyframes day_background_color {
  from {
    background-color: transparent;
    color: black;}
  to {
    background-color: #DBBCAD;
    color: white;}
}
@keyframes black_to_white {
  from {color: black;}
  to {color: white;}
}
@keyframes white_to_black {
  from {color: white;}
  to {color: black;}
}
@keyframes logo_big{
  from {height: 100px;}
  to {height: 110px;}
}

.col1{
  width: 50%;
  float: left;
}

.desc-header{
  font-size: 2.5rem;
  font-weight: bolder;
}
.desc-text{
  font-size: 1.5rem;
}

.shamballa-logo{
  height: 100px;
}

#prev-btn , #next-btn{
  color: black;
  border-width: 0;
  font-size: 30px;
  background-color: transparent;
  width: 50px;
  height: 100%;
}

.days{
  text-align: center;
  font-weight: bolder;
  font-size: 2.5rem;
  border-radius: 10px;
  cursor: default;
}


#jump-to-today:hover{
  color: white;
  animation-name: black_to_white;
  animation-duration: 0.3s;
}

#jump-to-today{
  color: black;
  font-size: 1.5rem;
}
.card{
  margin: auto;
  padding-top: 5px;
  width: 85%;
  font-size: 1rem;
}

@media (max-width: 768px){
  .card{
    font-size: 0.5rem;
  }
  #jump-to-today{
    font-size: 1rem;
  }
  .shamballa-logo{
    height: 50px;
  }
  .days{
    font-size: 2rem;
  }
  #prev-btn , #next-btn{
    border-width: 0;
    font-size: 15px;
    width: 40px;
  }
  .col1{
    width: 100%;
  }
  .desc-text{
    font-size: 1rem;
  }
  .desc-header{
    font-size: 1.7rem;
  }
}

.rtl{
  direction: rtl;
}
.description{
  padding: 20px 20px 20px 20px;
  font-family: 'Open Sans', sans-serif;
}

.days:hover{
  background-color: #DBBCAD;
  color: white;
  cursor: pointer;
  animation-name: day_background_color;
  animation-duration: 0.3s;

}



html{
  height: 100%;
}

body {
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  align-items: center;
  height: 100%;
  background-color: #DBBCAD;
  line-height: 1.9rem;
}
.brand-title{
  color: white;
}

.navbar-brand{
  text-align: center;
}

.indent{
  margin-right: 4rem;
}


.bg{
  background-image: url("background-cover-long.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo{
  background-image: url("shamballa-logo.jpeg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.table{
  height: 80%;
}

.full{
  height: 100%;
}

a {
  color: black;
  text-decoration: none;
}

h4 {
  font-size: 1rem;
}



#prev-btn:hover , #next-btn:hover{
  color: white;
}

/* Month header */
.month {
  /* padding: 70px 25px; */
  width: 100%;
  background: #94b29f;
  text-align: center;
  background-image: url('https://scontent.ftlv10-1.fna.fbcdn.net/v/t39.30808-6/279798893_155308036981740_8830816604358235376_n.png?_nc_cat=102&ccb=1-7&_nc_sid=e3f864&_nc_ohc=35M5i-QmNvUAX_-V2SN&_nc_ht=scontent.ftlv10-1.fna&oh=00_AT_m5mX-Xsb5Cu9qcQnIeGJUeIqcdbYmHNOK401nnbz9kw&oe=62929F3E');
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 70% 100%;
  background-position: center;
}

.day-container{
  text-align: center;
}

.day-header{
  text-align: center;
  font-size: 1.7rem;
  border-radius: 10px;
  cursor: default;
}


.title{
  text-align: center;

  width: 100px;
}
#month-title , #year-title{
  cursor: default;
  font-weight: bolder;
}


.navbar{
  background-color: #DBBCAD;
}

.calender{
  width: 90%;
  height: 100%;
  padding-top: 15px;
  margin: auto;
  border-width: medium;
  border-color: black;
}

/* Month list */
.month ul {
  margin: 7px;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
  float: left;
  padding-top: 10px;
}

/* Next button */
.month .next {
  float: right;
  padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color:#ddd;
}

.hours li {
  font-size: 80%;
}
.remove-button{
  background-color: transparent;
  border-width: 0;
  color: red;
}


#hour-select{
  width: 100%;
  margin-bottom: 9px;
}

/* Days (1-31) */
.days {
  padding: 10px 0;
  margin: 0;
}
.today{
  border-radius: 10px;
  background-color: #F2EBE9;
  color: black;
}


/* .days li {
  list-style-type: none;
  display: inline-block;
  width: 14.28%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
} */

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.formContainer input{

}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}


/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.hidden{
  display: none;
}

.available{
  color: green;
}


/* popup form */
* {
  box-sizing: border-box;
}

.loginPopup {
  position: relative;
  text-align: center;
  width: 100%;
}
.formPopup {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  display: none;
  background-color: white;
  position: fixed;
  left: 50%;
  top: 5%;
  bottom: 600px;
  transform: translate(-50%, 5%);
  border: 3px solid #999999;
  z-index: 9;
  height: 80%;
}
.formContainer {
  /* max-width: 600px; */
  width: 300px;
  height: 100%;
  padding: 20px;
  background-color: white;
}
.formContainer input[type=text],
.formContainer input[type=password] {
  width: 100%;
  height: 2.5rem;
  padding: 10px;
  margin: 5px 0 20px 0;
  border: none;
  background: #eee;
  text-align: center;
}
.formContainer input[type=text]:focus,
.formContainer input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
.formContainer .btn {
  padding: 12px 20px;
  border: none;
  background-color: #8ebf42;
  color: #fff;
  cursor: pointer;
  width: 100%;
  margin-bottom: 15px;
  opacity: 0.6;
}
.formContainer .cancel {
  background-color: #cc0000;
  font-size: 0.5rem;
  height: 30px;
  width: 20px;
}
.right{
  float: right;
}
.formContainer .btn:hover,
.openButton:hover {
  opacity: 1;
}

#admin-reservations{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  text-align: center;
}
